.Tab1{ width: 200px; background: black; color: white; font-size: 200%;}
.dialer_buttons{margin: 20px; padding: 20px; font-size: 200%;}
.Content1{background: black; color: white; font-size:200%;}
.dialer_buttons{background: black; color: white; font-size:200%;}
.contact{background: black; color: white; font-size:200%;}
.text{background: black; color: white; font-size:200%;}
.submit{background: black; color: white; font-size:200%;}
